<!DOCTYPE html>
    <html lang="ko">

        <head>
            <meta charset="UTF-8">
            <title>MySite-flex</title>
            <link rel="stylesheet" href="../../assets/css/reset.css">
            <link rel="stylesheet" href="../../assets/css/mysite.css">
            <link rel="stylesheet" href="../../assets/css/main.css">
        </head>

        <!-- 
        header
        nav
        #content
        aside main
        footer
        -->
    
        <body>
            <div id="wrap">
                <header>
                    <h1>MySite</h1>
                    <ul>
                        <li>
                            <a>로그인</a>
                        </li>
                        <li>
                            <a>회원가입</a>
                        </li>
                    </ul>
                </header>
                <nav>
                    <!-- ul>li*4 -->
                   <ul>
                        <li>입사지원서</li>
                        <li>게시판</li>
                        <li>갤러리</li>
                        <li>방명록</li>
                   </ul>
                </nav>
                <div id="content">content</div>
                <footer>footer</footer>
            </div>
        </body>
    </html>





