<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <title>MySite-flex</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/practice.css">
        <link rel="stylesheet" href="../../assets/css/main.css">
    </head>

    <body>
        <div id="wrap">
            <header>
                <h1>MySite</h1>
                <ul>
                    <li>로그인</li>
                    <li>회원가입</li>
                </ul>
            </header>
            <nav>nav</nav>
            <div id="content">content</div>
            <footer>footer</footer>
        </div>
    </body>
</html>
    