<!DOCTYPE html>
    <html lang="ko">
        <head>
            <meta charset="UTF-8">
            <title>MySite</title>
            <link rel="stylesheet" href="../../assets/css/reset.css">
            <link rel="stylesheet" href="../../assets/css/mysite.css">
            <link rel="stylesheet" href="../../assets/css/gallery.css">
        </head>

        <body>
            <div id="wrap">
                <div id="header" class="clearfix">
                    <h1>MySite</h1>
                    <ul class="clearfix">
                        <li>
                            <a href="">로그인</a>
                        </li>
                        <li>
                            <a href="">회원가입</a>
                        </li>
                    </ul>
                </div>

                <div id="nav">
                    <ul class="clearfix">
                        <li>
                            <a href="">입사지원서</a>
                        </li>
                        <li>
                            <a href="">게시판</a>
                        </li>
                        <li>
                            <a href="">갤러리</a>
                        </li>
                        <li>
                            <a href="">방명록</a>
                        </li>
                    </ul>
                </div>

                <div id="content2" class="clearfix">
                    <div id="aside">
                        <h2>갤러리</h2>
                        <ul>
                            <li>일반갤러리</li>
                            <li>파일첨부연습</li>
                        </ul>
                    </div>
                    <div id="main">
                        <div id="main-head" class="clearfix">
                            <h3>일반갤러리</h3>
                            <ol class="clearfix">
                                <li>홈</li>
                                <li>갤러리</li>
                                <li>일반갤러리</li>
                            </ol>
                        </div>

                        <div id="img-u-box" class="clearfix">
                            <button id="img-u-btn" type="submit" name="" value="">
                                <a href="">이미지올리기</a>
                            </button>
                        </div>

                        <ul class="clearfix">
                            <li>
                                <img class="image" src="../../assets/images/Gangho-dong.jpg" alt="강호동사진">
                                <span>작성자:유재석</span>
                            </li>
                            <li>
                                <img class="image" src="../../assets/images/Jeongjae-Lee.jpg" alt="이정재사진">
                                <span>작성자:유재석</span>
                            </li>
                            <li>
                                <img class="image" src="../../assets/images/JeonSoMin.jpg" alt="전소민사진">
                                <span>작성자:유재석</span>
                            </li>
                            <li>
                                <img class="image" src="../../assets/images/JiseokJin.jpg" alt="지석진사진">
                                <span>작성자:유재석</span>
                            </li>
                            <li class="jws">
                                <img class="image" src="../../assets/images/JungWooSung.jpg" alt="정우성사진">
                                <span>작성자:유재석</span>
                            </li>
                        </ul>
                        



                        
                        
                    </div>
                </div>

                <div id="footer">
                    <p>Copyright ⓒ 2020 황일영. All right reserved</p>
                </div>
            </div>
        </body>
        
    </html>
                    
                        


                        
                        
                    

