@charset "UTF-8";


/* ----------레이아웃------------- */


#wrap{
    width: 1000px;
    margin: 0px auto;
}

header{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav{
    border-top: 1px solid green;
}

#content{
    border: 1px solid #000000;
}

footer{
    border: 1px solid #000000;
}


/* ----------/레이아웃------------- */

/* ------------헤더부분--------- */
header h1{
    font-size: 36px;
    font-weight: bold;
    color: #79b30b;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-wrap: wrap;
}

header ul>li{
    margin-left: 5px;
    padding: 3px 6px;
    font-size: 10px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    background-color: #fffffff;
}


/* ------------/헤더부분--------- */

/* ----------네비부분--------- */
nav ul{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

nav ul>li{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    line-height: 50px;
}
/* ----------/네비부분--------- */