<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/board.css">
    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>
                        <a href="">입사지원서</a>
                    </li>
                    <li>
                        <a href="">게시판</a>
                    </li>
                    <li>
                        <a href="">갤러리</a>
                    </li>
                    <li>
                        <a href="">방명록</a>
                    </li>
                </ul>
            </div>

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>게시판</h2>
                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>
                </div>
                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>일반게시판</h3>
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>게시판</li>
                            <li>일반게시판</li>
                        </ol>
                    </div>
                
                    <div id="search" class="clearfix">
                        <div id="txt-search">
                            <input type="text" name="" value="">
                            <a href="">검색</a>
                        </div>
                    </div>
                    <!-- 테이블부분 -->
                    <div>
                        <!-- 무조건 float띄우지 말기 디자인상 괜찮으면 -->
                        <table>
                            <colgroup>
                                <col style="width: 100px;">
                                <col style="width: 250px;">
                                <col style="width: 100px;">
                                <col style="width: 100px;">
                                <col style="width: 150px;">
                                <col style="width: 100px;">
                            </colgroup>

                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>글쓴이</th>
                                    <th>조회수</th>
                                    <th>작성일</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>123</td>
                                    <td class="txt-l">
                                        <a href="">게시판 게시글입니다.</a>
                                    </td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2020-12-23</td>
                                    <td>
                                        <a href="">
                                            [삭제]
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td class="txt-l">
                                        <a href="">게시판 게시글입니다.</a>
                                    </td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2020-12-23</td>
                                    <td>
                                        <a href="">
                                            [삭제]
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td class="txt-l">
                                        <a href="">게시판 게시글입니다.</a>
                                    </td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2020-12-23</td>
                                    <td>
                                        <a href="">
                                            [삭제]
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td class="txt-l">
                                        <a href="">게시판 게시글입니다.</a>
                                    </td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2020-12-23</td>
                                    <td>
                                        <a href="">
                                            [삭제]
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td class="txt-l">
                                        <a href="">게시판 게시글입니다.</a>
                                    </td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2020-12-23</td>
                                    <td>
                                        <a href="">
                                            [삭제]
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="page">
                        <ol class="clearfix">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                        </ol>
                    </div>

                    <div id="button">
                        <a href="">글쓰기</a>
                    </div>
                </div>
            </div>
            
            <div id="footer">
                <p>Copyright ⓒ 2020 황일영. All right reserved</p>
            </div>
        </div>
    </body>

</html>