@charset "UTF-8";

/***********************************
      게시판관련 페이지에서만 사용(리스트, 등록폼, 수정폼, 읽기)
**********************************/

/* ---------리스트---------- */



/* ---------/리스트---------- */

#search{
    margin-top: 10px;
}

#txt-search{
    float: right;
}

#txt-search input[type="text"]{
    width: 100px;
    padding: 2px 3px;
}

#txt-search a{
    background-color: #e9dcdcc5;
    border: 1px solid gray;
    padding: 2px 3px;
}





/* ----------테이블----------테이블 길이800 */
table{
margin-top: 18px;
font-size: 12px;
text-align: center;
border-collapse: collapse;
}

table>thead>tr>th, table>tbody>tr>td{
    padding: 10px 0px;
}

table>thead{
    background-color: #e9dcdcc5;
}

table>thead>tr{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

table>tbody>tr{
    border-bottom: 1px solid gray;
}

.txt-l{
    text-align: left;
}

/* ----------/테이블-------------- */

/* --------테이블 페이지---------- */
#main #page ol{
    margin-top: 5px;
    padding-left: 300px;
}

#main #page ol>li{
    margin: 0px 5px;
    float: left;
}

/* --------/테이블 페이지---------- */


/* 글쓰기 버튼 */
#main #button a{
    background-color: #e9dcdcc5;
    border: 1px solid gray;
    float: right;
    padding: 3px 4px;    
}


