@charset "UTF-8";
/*************************************
         mysite공통
*************************************/


/* ------------레이아웃 ----------------- */
body{
    font-family: "맑은 고딕";
    font-size: 12px;
    color: #000000;
}

#wrap{
    width: 1000px;
    margin: 0px auto;
}

#header{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #000000;
}

#nav{
    font-weight: bold;
    padding: 10px 0px;
    border-bottom: 1px solid #000000;
}

/* 1단 */
#content{
    padding: 20px 20px 20px 20px;
}

/* 2단 */
#content2{
    padding: 20px 0px;
}

#content2 #aside{
    width: 180px;
    margin-right: 20px;
    float: left;
}

#content2 #main{
    width: 798px;
    float: left;
}


#footer{
    background: #dddddd;
    padding: 10px 0px;
}
/* -----------/레이아웃------------ */

/* ----------헤더--------- */
#header h1{
    font-size: 32px;
    font-weight: bold;
    margin: 0px 0px 0px 10px;
    color: #79b30b;
    float: left;
}

#header ul{
    float: right;
    margin: 14px 0px 0px 0px;
}

#header ul>li{
    float: left;
    margin: 0px 0px 0px 10px;
    border: 1px solid #000000;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: #e3e3e3;
}



/* ---------/헤더----------- */

/*----------네비-------------*/
#nav ul{

}

#nav ul>li{
    width: 250px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/*------------/네비------------*/

/*---------컨텐츠(메인)----------*/





/*---------/컨텐츠(메인)----------*/

/* ---------컨텐츠2(게시판리스트)------ */
#content2 #aside h2{
    width: 180px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background-color: #dddddd;
    text-align: center;
    line-height: 60px;
}  
/*글자 가운데 배치하는 방법은 height랑 line-height를
맞춰주면 된다(한줄일때만 됨 줄 간격 있으면 안됨) */

#content2 #aside ul>li{
    margin: 5px 0px 0px 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #a6a6a6;
}

#main #main-head{
    padding: 15px 0px 10px 0px;
    border-bottom: 1px solid rgb(228, 213, 213);
}

#main #main-head h3{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#main #main-head ol{
    margin-top: 10px;
    float: right;
}

#main #main-head ol>li{
    float: left;
}

#main #main-head ol>li::after{
    content: ">";
    padding-right: 5px;
    padding-left: 5px
}

#main #main-head ol>li:last-child::after{
    content: "";
    padding-right: 0px;
    padding-left: 0px;
}
/* ---------/컨텐츠2(게시판리스트)------ */


/* --------------푸터------------- */
#footer p{
    text-align: center;
}



/* --------------/푸터------------- */
