@charset "UTF-8";

body, div, ul, li, dl, dt, ol,
h1, h2, h3, h4, h5, h6, 
form, input, select, textarea, button, fieldset, legend,
p, table, th, td, tr{
    margin: 0; padding: 0;
}

body{
    background-color: #808080;
    font-family: "맑은 고딕";
    font-size: 12px;
}

.wrap{
    background-color: #ffffff;
    width: 600px;
    border: 1px solid #000000;
}

.wrap h3{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

/* 빵부스러기 */
ol>li{
    list-style-type: none;
    float: left;
}

ol>li::after{
    content: ">";
    padding-right: 5px;
}

/* 공통요소 */
.form-group{
    border-bottom: 1px solid #000000;
    margin: 0px 0px 10px 0px;
    padding-bottom: 10px;
}


    


.form-title{
    display: inline-block;
    width: 120px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #000000;
}

.form-title:last-child{
    
}

/* 주소 */
#txt-address{
    width: 180px;
}



.form-group .btn-address{
    background-color: #ecdada;
    border: 1px solid #000000;
    width: 70px;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}

.txt-address2{
    display: inline-block;
    border: 1px solid #000000;
    width: 400px;
    margin-left: 124px;
}

/* 나이 */
.form-group input[type="radio"],
.form-group input[type="checkbox"]{
    margin: 0px 5px 0px 0px;
}


/* 자기소개 */
.form-group textarea{
    width: 400px;
    height: 90px;
}

/* 버튼그룹 */
.btn-group{
    padding: 0px 0px 10px 0px;
    text-align: center;
}

.btn-group button{
    width: 60px;
    height: 30px;
}
