@charset "UTF-8";

body, div, ul, li, dl, dt, ol,
h1, h2, h3, h4, h5, h6, 
form, input, select, textarea, button, fieldset, legend,
p, table, th, td, tr{
    margin: 0; padding: 0;
}

/* 폼 폰트통일 */
input, select, textarea{
    font-family: "맑은 고딕";
    font-size: 15px;
}

body{
    background-color: #808080;
    font-family: "맑은 고딕";
    font-size: 12px;
}

.wrap{
    background-color: #ffffff;
    width: 600px;
    border: 1px solid #000000;
}

.wrap h3{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

/* 폼 폰트통일 */





/* 빵부스러기 */

/* clearfix */
/* .clearfix{*zoom:1;} ->익스플로어에 적용 */
.clearfix::before, .clearfix::after{
    display: block;
    content: "";
    line-height: 0;
}

.clearfix::after{
    clear: both;
}


/* 경로표시 */
.wrap ol{
    list-style-type: none;
    margin: 10px 0px 20px 0px;
}


.wrap ol>li{
    float: left;
}

.wrap ol>li::after{
    content: ">";
}

.wrap ol>li:last-child::after{
    content: "";
}


/* 공통요소 */
.form-group{
    border-bottom: 1px solid #000000;
    margin: 0px 0px 10px 0px;
    padding-bottom: 10px;
}


.form-group .form-title{
display: inline-block;
width: 120px;
text-align: center;
font-size: 12px;
}




/* 주소 */

/* 주소영역 2줄표현
<br> 아래는 마진으로 해결 */

#txt-address{
    width: 180px;
}



.form-group .btn-address{
    background-color: #ecdada;
    border: 1px solid #000000;
    width: 70px;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}

#txt-address2{
    border: 1px solid #000000;
    width: 370px;
    margin-left: 124px;
    margin-top: 5px;
}

/* 나이 */
.form-group input[type="radio"],
.form-group input[type="checkbox"]{
    margin: 0px 5px 0px 0px;
}

.form-group label{
    font-family: "맑은 고딕";
    font-size: 15px;
 }


/* 자기소개 */
.form-group textarea{
    width: 400px;
    height: 90px;
}

.form-title2{
    display: inline-block;
    width: 120px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

/* 버튼그룹 */
.btn-group{
    padding: 0px 0px 10px 0px;
    text-align: center;
}

.btn-group button{
    width: 60px;
    height: 30px;
}
