<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Mysite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysitea.css">
    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li>로그인</li>
                    <li>회원가입</li>
                </ul>
            </div>



            <div id="nav">nav</div>
            <div id="content">content</div>
            <div id="footer">footer</div>
        </div>
    </body>

</html>