<!DOCTYPE html>
    <html lang="ko">
        <head>
            <meta charset="UTF-8">
            <title>MySite</title>
            <link rel="stylesheet" href="../../assets/css/reset.css">
            <link rel="stylesheet" href="../../assets/css/mysite.css">
            <link rel="stylesheet" href="../../assets/css/guestbook.css">
        </head>

        <body>
            <div id="wrap">
                <div id="header" class="clearfix">
                    <h1>MySite</h1>
                    <ul class="clearfix">
                        <li>
                            <a href="">로그인</a>
                        </li>
                        <li>
                            <a href="">회원가입</a>
                        </li>
                    </ul>
                </div>

                <div id="nav">
                    <ul class="clearfix">
                        <li>
                            <a href="">입사지원서</a>
                        </li>
                        <li>
                            <a href="">게시판</a>
                        </li>
                        <li>
                            <a href="">갤러리</a>
                        </li>
                        <li>
                            <a href="">방명록</a>
                        </li>
                    </ul>
                </div>

                <div id="content2" class="clearfix">
                    <div id="aside">
                        <h2>방명록</h2>
                        <ul>
                            <li>일반방명록</li>
                            <li>ajax방명록</li>
                        </ul>
                    </div>
                    <div id="main">
                        <div id="main-head" class="clearfix">
                            <h3>일반방명록</h3>
                            <ol class="clearfix">
                                <li>홈</li>
                                <li>방명록</li>
                                <li>일반방명록</li>
                            </ol>
                        </div>

                        
                        <table id="guest-table">
                            <col style="width: 60px;">
                            <col style="width: 340px;">
                            <col style="width: 60px;">
                            <col style="width: 340px;">

                            <tbody>
                                <tr>
                                    <td>
                                        <label for="table-name">이름</label>
                                    </td>
                                    <td>
                                        <input id="table-name"" type="text" name="" value="">
                                    </td>
                                    <td>패스워드</td>
                                    <td>
                                        <input type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <textarea></textarea>
                                    </td>   
                                </tr> 
                                <tr>
                                    <td colspan="4">
                                        <button class="btn">등록</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="guestbook">
                            <col style="width: 90px;">
                            <col style="width: 320px;">
                            <col style="width: 320px;">
                            <col style="width: 70px;">

                            <tbody>
                                <tr>
                                    <td>1234555</td>
                                    <td>이정재</td>
                                    <td>2025-04-10 12:12:12</td>
                                    <td>
                                        <a href="">[삭제]</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">방명록 글입니다.</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="guestbook">
                            <col style="width: 90px;">
                            <col style="width: 320px;">
                            <col style="width: 320px;">
                            <col style="width: 70px;">

                            <tbody>
                                <tr>
                                    <td>1234555</td>
                                    <td>이정재</td>
                                    <td>2025-04-10 12:12:12</td>
                                    <td>
                                        <a href="">[삭제]</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">방명록 글입니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="footer">
                    <p>Copyright ⓒ 2020 황일영. All right reserved</p>
                </div>
            </div>
        </body>
        
    </html>
                    
                        


                        
                        
                    

